*{
	margin:0px;
}

section{
    /*border: 2px solid blue;*/
    margin:10px;
    padding-left: 5%;
    padding-right: 5%;
}
header, nav{
	display:block;
}
#cabecera{
    width:60%;/*ajustar este parametro en algunas resoluciones*/
    position:relative;
    left:15%;  
    /*border:2px solid red;*/
}
.icon-bar{
    background-color:white;
}
#name{
        color:white;
        padding-left: 60px;
        font-size: 20px;
    }
#menu{
   
   border:2px solid #682444;
   background-color:#682444;
}

#menu ul li a{
    color:white;
    font-size: 18px;
}
#menu ul li a:focus{
    /*background-color:#ECC3BA;*/
    color:black;
}
#menu ul li a:hover{
    color:black;
}
#disco{
    color:black;
    
}
#cero{
      /*border:2px solid #C32A2A;*/
      background-color: #682444;
     
}
.pie2{ 
  height: 90px; 
  background:black; 
  width:100%; 
  position:absolute; 
  background-color:#682444;
  color:white;
}
seccion { /*Recuerda que existía IE6*/
  height: auto !important;
  min-height: 100%;
 }
corte {
  padding-top: 4em;
 }
pie {
  height: 3em;
  margin-top: -3em;
 }

 #tabla tr th{
    width:25%;
    border: 2px solid #333;
    background: #333;
    color:white;
    text-align: center;
}

#tabla{
    width: 25%;
    font-size: 18px;
}



h1{ text-align: center; }
@media screen and (max-width: 580px) {
    #cabecera{
    width:78%;/*ajustar este parametro en algunas resoluciones*/
    position:relative;
    left:12%;
    
    border:2px;
    }
}
@media screen and (max-width: 480px) {
    #cabecera{
    width:88%;/*ajustar este parametro en algunas resoluciones*/
    position:relative;
    left:5%;
    
    border:2px;
    }
}
h3{
    text-align: justify; 
}

h3.cen{
    text-align: center;
}
h4.cen{
    text-align: center;
}
.select-class{
    border: 2px solid #333;
    background-color: rgba(104, 36, 68, 0.85);
    color:white;
    text-align: right;
    height: 50px;
    font-size: 25px;
    width: 60%;
}
.glyphicon-ok{
    color: green;
    font-size: 30px;
}
.glyphicon-remove{
   color: red;
   font-size: 30px; 
}

.retroalimentacion{
    font-size: 25px;
    width: 60%;
    color: blue;
}
.pregunta{
    font-size: 25px;
    width: 60%;
}
ol{font-size: 24px;}
@media screen and (max-width: 430px) {
    #cabecera{
    width:98%;/*ajustar este parametro en algunas resoluciones*/
    position:relative;
    left:0%;
    
    border:2px;
    }
}