<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pregunta</servlet-name>
        <servlet-class>CONTROLADOR.pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preguntas</servlet-name>
        <servlet-class>CONTROLADOR.Preguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preguntas1</servlet-name>
        <servlet-class>CONTROLADOR.preguntas1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preguntas2</servlet-name>
        <servlet-class>CONTROLADOR.preguntas2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preguntas3</servlet-name>
        <servlet-class>CONTROLADOR.preguntas3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pregunta</servlet-name>
        <url-pattern>/pregunta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preguntas</servlet-name>
        <url-pattern>/Preguntas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preguntas1</servlet-name>
        <url-pattern>/preguntas1.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preguntas2</servlet-name>
        <url-pattern>/preguntas2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preguntas3</servlet-name>
        <url-pattern>/preguntas3.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
